.counter {
  text-align: center;
  font-size: 25px;
}

.counter button {
  margin: 0 10px;
}

.text-danger {
  color: red;
}

.container {
  display: flex;
}

main {
  margin-right: 20px;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  margin-left: 10px;
  margin-right: 10px;
}
